## **Bigcontest 2020**
### NS Shop+ 판매 실적 예측

In [1]:
import numpy as np
import pandas as pd
import os
print("numpy version : ", np.__version__)
print("pandas version : ", pd.__version__)
print(os.listdir())

numpy version :  1.19.1
pandas version :  1.0.5
['.git', '.gitignore', 'EDA.ipynb', '.ipynb_checkpoints', 'README.md', 'prep', 'reference', 'assets']

In [2]:
data = os.listdir('/home/yeeunlee/bigcon20/01_제공데이터')
print(data)

['2020 빅콘테스트 데이터분석분야-챔피언리그_2019년 실적데이터.xlsx', '2020 빅콘테스트 데이터분석분야-챔피언리그_시청률 데이터.xlsx']

예측 상품 중 판매가 0인 프로그램 실적은 제외, 과거 실적이 없는 경우는 유사 카테고리 혹은 동일 머더코드로 예측.

In [3]:
res_19 = pd.read_excel("/home/yeeunlee/bigcon20/01_제공데이터/"+data[0], sheet_name = "rawdata_2019(완)", skiprows=1)
res_19.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0

In [4]:
res_19['상품군'].unique()

array(['의류', '속옷', '주방', '농수축', '이미용', '가전', '생활용품', '건강기능', '잡화', '무형',
       '가구', '침구'], dtype=object)

In [5]:
res_19.isna().sum()

방송일시         0
노출(분)    16784
마더코드         0
상품코드         0
상품명          0
상품군          0
판매단가         0
취급액        937
dtype: int64

In [6]:
res_19[res_19['취급액'].isna()]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
2318,2019-01-25 19:00:00,60.000000,100507,201567,TCOM_처브치아보험,무형,0,NaN
2845,2019-01-31 18:00:00,60.000000,100507,201567,TCOM_처브치아보험,무형,0,NaN
3332,2019-02-05 18:00:00,60.000000,100507,201567,TCOM_처브치아보험,무형,0,NaN
6570,2019-03-09 00:00:00,20.000000,100324,201095,온라인투어 동남아 나트랑/빈펄랜드 (190309),무형,0,NaN
6571,2019-03-09 00:20:00,20.000000,100324,201095,온라인투어 동남아 나트랑/빈펄랜드 (190309),무형,0,NaN
...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN

In [7]:
res_19[res_19['상품명'].str.contains('LG 통돌이 세탁기')]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
44,2019-01-01 20:00:00,20.0,100150,200533,일시불 LG 통돌이 세탁기,가전,439000,35519000.0
45,2019-01-01 20:00:00,NaN,100150,200465,무이자 LG 통돌이 세탁기,가전,489000,19123000.0
46,2019-01-01 20:20:00,20.0,100150,200533,일시불 LG 통돌이 세탁기,가전,439000,56859000.0
47,2019-01-01 20:20:00,NaN,100150,200465,무이자 LG 통돌이 세탁기,가전,489000,58685000.0
48,2019-01-01 20:40:00,20.0,100150,200533,일시불 LG 통돌이 세탁기,가전,439000,68320000.0
...,...,...,...,...,...,...,...,...
32777,2019-11-06 20:20:00,NaN,100150,200465,무이자 LG 통돌이 세탁기,가전,489000,25431000.0
32778,2019-11-06 20:40:00,20.0,100150,200533,일시불 LG 통돌이 세탁기,가전,439000,40141000.0
32779,2019-11-06 20:40:00,NaN,100150,200465,무이자 LG 통돌이 세탁기,가전,489000,26949000.0
32780,2019-11-06 21:00:00,20.0,100150,200533,일시불 LG 통돌이 세탁기,가전,439000,38778000.0
32781,2019-11-06 21:00:00,NaN,100150,200465,무이자 LG 통돌이 세탁기,가전,489000,26918000.0

In [22]:
res_19[res_19['상품명'].str.contains('아동')]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
9736,2019-04-07 07:00:00,NaN,100464,201431,디키즈 아동 스테디움점퍼세트,의류,54000,560000.0
9738,2019-04-07 07:20:00,NaN,100464,201431,디키즈 아동 스테디움점퍼세트,의류,54000,3969000.0
9740,2019-04-07 07:40:00,NaN,100464,201431,디키즈 아동 스테디움점퍼세트,의류,54000,6249000.0
10210,2019-04-11 01:00:00,NaN,100464,201431,디키즈 아동 스테디움점퍼세트,의류,54000,220000.0
10212,2019-04-11 01:20:00,NaN,100464,201431,디키즈 아동 스테디움점퍼세트,의류,54000,1558000.0
10214,2019-04-11 01:40:00,NaN,100464,201431,디키즈 아동 스테디움점퍼세트,의류,54000,1744000.0
14612,2019-05-18 06:00:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,1338000.0
14613,2019-05-18 06:00:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,268000.0
14616,2019-05-18 06:30:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,5659000.0
14617,2019-05-18 06:30:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,2892000.0
14966,2019-05-21 00:00:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,2839000.0
14967,2019-05-21 00:00:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,922000.0
14970,2019-05-21 00:30:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,6495000.0
14971,2019-05-21 00:30:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,3325000.0
15171,2019-05-22 23:00:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,4157000.0
15172,2019-05-22 23:00:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,704000.0
15175,2019-05-22 23:30:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,4590000.0
15176,2019-05-22 23:30:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,3267000.0
15632,2019-05-27 00:00:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,2653000.0
15633,2019-05-27 00:00:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,704000.0
15636,2019-05-27 00:30:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,3770000.0
15637,2019-05-27 00:30:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,1096000.0
15712,2019-05-27 21:00:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,2172000.0
15713,2019-05-27 21:00:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,929000.0
15716,2019-05-27 21:30:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,5397000.0
15717,2019-05-27 21:30:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,4341000.0
15812,2019-05-29 00:00:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,1125000.0
15813,2019-05-29 00:00:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,1350000.0
15816,2019-05-29 00:30:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,1577000.0
15817,2019-05-29 00:30:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,1144000.0
16142,2019-06-01 13:00:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,6130000.0
16143,2019-06-01 13:00:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,1456000.0
16146,2019-06-01 13:30:00,NaN,100374,201201,USPA 남성 아동 반팔 폴로셔츠 3종,의류,69000,8181000.0
16147,2019-06-01 13:30:00,NaN,100374,201205,USPA 여성 아동 반팔 폴로셔츠 3종,의류,69000,2072000.0
16981,2019-06-09 00:20:00,NaN,100374,201200,USPA 남성 아동 반팔 폴로셔츠 3종,의류,59000,3350000.0
16982,2019-06-09 00:20:00,NaN,100374,201204,USPA 여성 아동 반팔 폴로셔츠 3종,의류,59000,1576000.0
16985,2019-06-09 00:50:00,NaN,100374,201200,USPA 남성 아동 반팔 폴로셔츠 3종,의류,59000,7818000.0
16986,2019-06-09 00:50:00,NaN,100374,201204,USPA 여성 아동 반팔 폴로셔츠 3종,의류,59000,2641000.0
17304,2019-06-12 00:00:00,NaN,100374,201200,USPA 남성 아동 반팔 폴로셔츠 3종,의류,59000,2447000.0
17305,2019-06-12 00:00:00,NaN,100374,201204,USPA 여성 아동 반팔 폴로셔츠 3종,의류,59000,1093000.0
17308,2019-06-12 00:30:00,NaN,100374,201200,USPA 남성 아동 반팔 폴로셔츠 3종,의류,59000,4696000.0
17309,2019-06-12 00:30:00,NaN,100374,201204,USPA 여성 아동 반팔 폴로셔츠 3종,의류,59000,1238000.0
17609,2019-06-15 01:00:00,NaN,100374,201200,USPA 남성 아동 반팔 폴로셔츠 3종,의류,59000,1081000.0
17610,2019-06-15 01:00:00,NaN,100374,201204,USPA 여성 아동 반팔 폴로셔츠 3종,의류,59000,1093000.0
17613,2019-06-15 01:30:00,NaN,100374,201200,USPA 남성 아동 반팔 폴로셔츠 3종,의류,59000,2798000.0
17614,2019-06-15 01:30:00,NaN,100374,201204,USPA 여성 아동 반팔 폴로셔츠 3종,의류,59000,1440000.0
17918,2019-06-17 19:00:00,NaN,100374,201200,USPA 남성 아동 반팔 폴로셔츠 3종,의류,59000,1790000.0
17919,2019-06-17 19:00:00,NaN,100374,201204,USPA 여성 아동 반팔 폴로셔츠 3종,의류,59000,908000.0
17922,2019-06-17 19:30:00,NaN,100374,201200,USPA 남성 아동 반팔 폴로셔츠 3종,의류,59000,4508000.0
17923,2019-06-17 19:30:00,NaN,100374,201204,USPA 여성 아동 반팔 폴로셔츠 3종,의류,59000,1793000.0
18234,2019-06-20 22:00:00,NaN,100374,201200,USPA 남성 아동 반팔 폴로셔츠 3종,의류,59000,2487000.0
18235,2019-06-20 22:00:00,NaN,100374,201204,USPA 여성 아동 반팔 폴로셔츠 3종,의류,59000,744000.0
18238,2019-06-20 22:30:00,NaN,100374,201200,USPA 남성 아동 반팔 폴로셔츠 3종,의류,59000,4355000.0
18239,2019-06-20 22:30:00,NaN,100374,201204,USPA 여성 아동 반팔 폴로셔츠 3종,의류,59000,1270000.0
36398,2019-12-12 09:20:00,NaN,100463,201430,디키즈 아동 리버시블재킷1종,의류,44900,2219000.0
36400,2019-12-12 09:40:00,NaN,100463,201430,디키즈 아동 리버시블재킷1종,의류,44900,5212000.0
36402,2019-12-12 10:00:00,NaN,100463,201430,디키즈 아동 리버시블재킷1종,의류,44900,8949000.0
37625,2019-12-24 15:20:00,NaN,100752,202199,스프리스 아동 퍼부츠,잡화,39900,1699000.0
37628,2019-12-24 15:50:00,NaN,100752,202199,스프리스 아동 퍼부츠,잡화,39900,5586000.0

- **판매가 0원(무형, 보험 상품)은 추정 제외**

In [8]:
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
rating = pd.read_excel("01_제공데이터/"+data[1], skiprows=1)
rating.head()

,시간대,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,...,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31,2019-01-01 to 2019-12-31
0,02:00,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000,0.003
1,02:01,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.012,0.003
2,02:02,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000,0.004
3,02:03,0.0,0.0,0.014,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.017,0.0,0.0,0.0,0.0,0.0,0.000,0.004
4,02:04,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.017,0.0,0.0,0.0,0.0,0.0,0.000,0.004

시간대별로 0101~1231(365일)의 분당 시청률

## 평가데이터
> 취급액 예측(취급액 = 판매단가 x 주문량)

- 결국 주문량을 맞추면 되는것!

In [11]:
sub = pd.read_excel("/home/yeeunlee/bigcon20/02_평가데이터/2020 빅콘테스트 데이터분석분야-챔피언리그_2020년 6월 판매실적예측데이터(평가데이터).xlsx", skiprows=1)
sub.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN

In [15]:
sub[sub['상품명'].str.contains('LG전자')]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
40,2020-06-01 18:20:00,20.0,100150,200424,LG전자 통돌이 세탁기 TR14WK1(화이트),가전,499900,NaN
41,2020-06-01 18:40:00,20.0,100150,200424,LG전자 통돌이 세탁기 TR14WK1(화이트),가전,499900,NaN
42,2020-06-01 19:00:00,20.0,100150,200424,LG전자 통돌이 세탁기 TR14WK1(화이트),가전,499900,NaN
145,2020-06-02 21:20:00,20.0,100155,200556,일시불 LG전자 매직스페이스 냉장고,가전,1359000,NaN
146,2020-06-02 21:20:00,NaN,100155,200489,무이자 LG전자 매직스페이스 냉장고,가전,1499000,NaN
...,...,...,...,...,...,...,...,...
2661,2020-06-28 12:20:00,NaN,100155,200489,무이자 LG전자 매직스페이스 냉장고,가전,1499000,NaN
2662,2020-06-28 12:40:00,20.0,100155,200556,일시불 LG전자 매직스페이스 냉장고,가전,1359000,NaN
2663,2020-06-28 12:40:00,NaN,100155,200489,무이자 LG전자 매직스페이스 냉장고,가전,1499000,NaN
2664,2020-06-28 13:00:00,20.0,100155,200556,일시불 LG전자 매직스페이스 냉장고,가전,1359000,NaN
2665,2020-06-28 13:00:00,NaN,100155,200489,무이자 LG전자 매직스페이스 냉장고,가전,1499000,NaN

## Metric

### MAPE
(예측값-실제값)/예측값 -> 예측값에 대한 오차의 비율

오차의 비율로 모델을 비교할 수 있어 오차 평균의 크기가 크게 차이나는 모델을 비교할 수 있다.