In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("encoded_data.csv", parse_dates=['방송일시','date', 'real_date'])

In [4]:
data.columns

Index(['방송일시', '노출(분)', '마더코드', '상품코드', '상품명', '상품군', '판매단가', '취급액', 'date',
       'week', 'time', 'hour', 'prime', 'real_date', 'IsHoliday', '지속휴일수',
       'TEMP', 'HUM', 'weekofyear', 'stage', 'm_0', 'm_1', 'm_2', 'm_3', 'm_4',
       'm_5', 'm_6', 'm_7', 'm_8', 'm_9', 'p_0', 'p_1', 'p_2', 'p_3', 'p_4',
       'p_5', 'p_6', 'p_7', 'p_8', 'p_9', 'p_10', 'g_0', 'g_1', 'g_2', 'g_3',
       's_0', 's_1', 'w_0', 'w_1', 'w_2', 'w_3', 'w_4', 'w_5'],
      dtype='object')

### 데이터 설명
- m : 마더코드
- p : 상품코드
- g : 상품군
- s : stage
- w : weekofyear

In [5]:
data

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,...,g_2,g_3,s_0,s_1,w_0,w_1,w_2,w_3,w_4,w_5
0,2019-01-01 06:00:00,20.0,296,891,테이트 남성 셀린니트3종,6,39900,2099000.0,2019-01-01,1,...,1,0,0,0,0,0,0,0,0,0
1,2019-01-01 06:00:00,20.0,296,898,테이트 여성 셀린니트3종,6,39900,4371000.0,2019-01-01,1,...,1,0,0,0,0,0,0,0,0,0
2,2019-01-01 06:20:00,20.0,296,891,테이트 남성 셀린니트3종,6,39900,3262000.0,2019-01-01,1,...,1,0,1,0,0,0,0,0,0,0
3,2019-01-01 06:20:00,20.0,296,898,테이트 여성 셀린니트3종,6,39900,6955000.0,2019-01-01,1,...,1,0,1,0,0,0,0,0,0,0
4,2019-01-01 06:40:00,20.0,296,891,테이트 남성 셀린니트3종,6,39900,6672000.0,2019-01-01,1,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,2019-12-31 23:40:00,20.0,374,1130,일시불쿠첸압력밥솥 6인용,9,148000,10157000.0,2019-12-31,1,...,0,1,1,0,0,0,0,0,0,0
35375,2020-01-01 00:00:00,20.0,374,1124,무이자쿠첸압력밥솥 10인용,9,178000,50929000.0,2019-12-31,1,...,0,1,0,1,0,0,0,0,0,0
35376,2020-01-01 00:00:00,20.0,374,1129,일시불쿠첸압력밥솥 10인용,9,168000,104392000.0,2019-12-31,1,...,0,1,0,1,0,0,0,0,0,0
35377,2020-01-01 00:00:00,20.0,374,1125,무이자쿠첸압력밥솥 6인용,9,158000,13765000.0,2019-12-31,1,...,0,1,0,1,0,0,0,0,0,0
35378,2020-01-01 00:00:00,20.0,374,1130,일시불쿠첸압력밥솥 6인용,9,148000,46608000.0,2019-12-31,1,...,0,1,0,1,0,0,0,0,0,0

In [6]:
data2 = pd.read_csv("final_performance_v3.csv")
data2

,Unnamed: 0,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,...,real_date,설명,IsHoliday,지속휴일수,TEMP,HUM,weekofyear,year,month,cpi
0,0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019-01-01 00:00:00,...,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958,1,2019,1,104.03
1,1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,2019-01-01 00:00:00,...,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958,1,2019,1,104.03
2,2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019-01-01 00:00:00,...,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958,1,2019,1,104.03
3,3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,2019-01-01 00:00:00,...,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958,1,2019,1,104.03
4,4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,2019-01-01 00:00:00,...,2019-01-01 00:00:00,새해,1.0,1.0,-6.576974,63.524958,1,2019,1,104.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,2019-12-31 00:00:00,...,2019-12-31 00:00:00,NaN,0.0,0.0,-6.021727,49.760460,1,2019,12,105.51
35375,35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,2019-12-31 00:00:00,...,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1,106.26
35376,35376,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,2019-12-31 00:00:00,...,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1,106.26
35377,35377,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,2019-12-31 00:00:00,...,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1,106.26
35378,35378,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,2019-12-31 00:00:00,...,2020-01-01 00:00:00,새해,1.0,1.0,-5.782469,48.438717,1,2020,1,106.26

In [7]:
data['cpi'] = data2['cpi']
data

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,date,week,...,g_3,s_0,s_1,w_0,w_1,w_2,w_3,w_4,w_5,cpi
0,2019-01-01 06:00:00,20.0,296,891,테이트 남성 셀린니트3종,6,39900,2099000.0,2019-01-01,1,...,0,0,0,0,0,0,0,0,0,104.03
1,2019-01-01 06:00:00,20.0,296,898,테이트 여성 셀린니트3종,6,39900,4371000.0,2019-01-01,1,...,0,0,0,0,0,0,0,0,0,104.03
2,2019-01-01 06:20:00,20.0,296,891,테이트 남성 셀린니트3종,6,39900,3262000.0,2019-01-01,1,...,0,1,0,0,0,0,0,0,0,104.03
3,2019-01-01 06:20:00,20.0,296,898,테이트 여성 셀린니트3종,6,39900,6955000.0,2019-01-01,1,...,0,1,0,0,0,0,0,0,0,104.03
4,2019-01-01 06:40:00,20.0,296,891,테이트 남성 셀린니트3종,6,39900,6672000.0,2019-01-01,1,...,0,0,1,0,0,0,0,0,0,104.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,2019-12-31 23:40:00,20.0,374,1130,일시불쿠첸압력밥솥 6인용,9,148000,10157000.0,2019-12-31,1,...,1,1,0,0,0,0,0,0,0,105.51
35375,2020-01-01 00:00:00,20.0,374,1124,무이자쿠첸압력밥솥 10인용,9,178000,50929000.0,2019-12-31,1,...,1,0,1,0,0,0,0,0,0,106.26
35376,2020-01-01 00:00:00,20.0,374,1129,일시불쿠첸압력밥솥 10인용,9,168000,104392000.0,2019-12-31,1,...,1,0,1,0,0,0,0,0,0,106.26
35377,2020-01-01 00:00:00,20.0,374,1125,무이자쿠첸압력밥솥 6인용,9,158000,13765000.0,2019-12-31,1,...,1,0,1,0,0,0,0,0,0,106.26
35378,2020-01-01 00:00:00,20.0,374,1130,일시불쿠첸압력밥솥 6인용,9,148000,46608000.0,2019-12-31,1,...,1,0,1,0,0,0,0,0,0,106.26

In [17]:
data.to_csv("final_performance_v4.csv", mode='w')

In [2]:
data = pd.read_csv("final_performance_v4.csv", parse_dates=['방송일시','date', 'real_date'])

In [3]:
import sklearn
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from tqdm.auto import tqdm
import gc

## 사용 변수
- **to_categorical** : 상품코드, 상품군, week, hour, weekofyear, stage
- **dummy** : prime, IsHoliday, 
- **numeric** : 노출, 판매단가, 취급액, 지속휴일수, temp, hum, cpi

In [4]:
use_var = ['마더코드', '상품코드', '상품군', 'week', 'hour', 'weekofyear', 'stage', 'prime', 'IsHoliday', '노출(분)', '판매단가', '취급액', '지속휴일수', 'TEMP', 'HUM', 'cpi']
Data = data[use_var]

In [5]:
X = Data.drop(['취급액'], axis = 1)
Y = Data[['취급액']]
print("data shape : ", X.shape)
print("label shape : " , Y.shape)

data shape :  (35379, 15)
label shape :  (35379, 1)

In [6]:
x_train, x_valid, y_train, y_valid = train_test_split(X, Y, test_size = 0.1, random_state = 123457)
print("x_train shape : ", x_train.shape)
print("y_train shape : ", y_train.shape)
print("x_valid shape : ", x_valid.shape)
print("y_valid shape : ", y_valid.shape)

x_train shape :  (31841, 15)
y_train shape :  (31841, 1)
x_valid shape :  (3538, 15)
y_valid shape :  (3538, 1)

In [16]:
encoder = OneHotEncoder()
encoder.fit(np.array(x_train['상품코드']).reshape(-1,1))
onehot = encoder.transform(np.array(x_train['상품코드']).reshape(-1,1)).toarray()
print(onehot[0].shape)

(2024,)

In [13]:
np.array(x_train['prime']).reshape(-1,1)

array([[1],
       [1],
       [0],
       ...,
       [0],
       [1],
       [1]], dtype=int64)

## make train data

In [22]:
make_train_cols = ['상품코드', '상품군', 'week', 'hour', 'weekofyear', 'stage', 'IsHoliday', '노출(분)', '판매단가', '지속휴일수', 'TEMP', 'HUM', 'cpi']
to_cat = ['상품코드', '상품군', 'week', 'hour', 'weekofyear', 'stage']
encoders = {}
X_train_input = np.array(x_train['prime']).reshape(-1,1)
for col in make_train_cols:
    if col in to_cat:
        encoder = OneHotEncoder()
        encoder.fit(np.array(x_train[col]).reshape(-1,1))
        encoders[col] = encoder
        onehot = encoder.transform(np.array(x_train[col]).reshape(-1,1)).toarray()
        X_train_input = np.concatenate((X_train_input,onehot), axis=1)
        print(col, onehot[0].shape, X_train_input[0].shape)
    else:
        inputs = np.array(x_train[col]).reshape(-1,1)
        X_train_input = np.concatenate((X_train_input,inputs), axis=1)
        print(col, onehot[0].shape, X_train_input[0].shape)
print("X_train_input shape : ", X_train_input.shape)

상품코드 (2024,) (2025,)
상품군 (11,) (2036,)
week (7,) (2043,)
hour (21,) (2064,)
weekofyear (52,) (2116,)
stage (4,) (2120,)
IsHoliday (4,) (2121,)
노출(분) (4,) (2122,)
판매단가 (4,) (2123,)
지속휴일수 (4,) (2124,)
TEMP (4,) (2125,)
HUM (4,) (2126,)
cpi (4,) (2127,)
X_train_input shape :  (31841, 2127)

## make valid data

In [23]:
pd.set_option('mode.chained_assignment',  None)
def goods_code_encoding(value, encoder, price, mother, cat):
    if np.any(encoder.categories_[0] == value):
        return encoder.transform([[value]]).toarray()
    else:
        if mother in x_train['마더코드']:
            frame = x_train[x_train['마더코드']==mother]
            frame['diff'] =  abs(frame['판매단가'] - price)
            goods_code = frame[frame['diff']==min(frame['diff'])].iloc[0,1]
            return encoder.transform([[goods_code]]).toarray()
        else:
            frame = x_train[x_train['상품군']==cat]
            frame['diff'] =  abs(frame['판매단가'] - price)
            goods_code = frame[frame['diff']==min(frame['diff'])].iloc[0,1]
            return encoder.transform([[goods_code]]).toarray()

In [24]:
make_valid_cols = ['상품코드', '상품군', 'week', 'hour', 'weekofyear', 'stage', 'IsHoliday', '노출(분)', '판매단가', '지속휴일수', 'TEMP', 'HUM', 'cpi']
to_cat = ['상품코드', '상품군', 'week', 'hour', 'weekofyear', 'stage']
X_valid_input = np.array(x_valid['prime']).reshape(-1,1)
for col in make_valid_cols:
    if col == '상품코드':
        row = x_valid.iloc[0]
        inputs = goods_code_encoding(row['상품코드'], encoders['상품코드'], row['판매단가'], row['마더코드'], row['상품군'])
        for i in range(1, len(x_valid)):
            row = x_valid.iloc[i]
            vector = goods_code_encoding(row['상품코드'], encoders['상품코드'], row['판매단가'], row['마더코드'], row['상품군'])
            inputs = np.append(inputs,vector, axis=0)
        X_valid_input = np.concatenate((X_valid_input,inputs), axis=1)
        print(col, inputs[0].shape, X_valid_input[0].shape)
    elif col in to_cat:
        onehot = encoders[col].transform(np.array(x_valid[col]).reshape(-1,1)).toarray()
        X_valid_input = np.concatenate((X_valid_input,onehot), axis=1)
        print(col, onehot[0].shape, X_valid_input[0].shape)
    else:
        inputs = np.array(x_valid[col]).reshape(-1,1)
        X_valid_input = np.concatenate((X_valid_input,inputs), axis=1)
        print(col, onehot[0].shape, X_valid_input[0].shape)
print("X_valid_input shape : ", X_valid_input.shape)

상품코드 (2024,) (2025,)
상품군 (11,) (2036,)
week (7,) (2043,)
hour (21,) (2064,)
weekofyear (52,) (2116,)
stage (4,) (2120,)
IsHoliday (4,) (2121,)
노출(분) (4,) (2122,)
판매단가 (4,) (2123,)
지속휴일수 (4,) (2124,)
TEMP (4,) (2125,)
HUM (4,) (2126,)
cpi (4,) (2127,)
X_valid_input shape :  (3538, 2127)

In [35]:
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Input, Dense, Activation
from tensorflow.keras.optimizers import Adam, SGD
from tensorflow.keras import metrics
import tensorflow

In [32]:
model = Sequential()
model.add(Dense(512, input_dim=2127, activation='relu'))
#model.add(Dense(128, activation='relu'))
#model.add(Dense(32, activation='relu'))
model.add(Dense(1))

WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tensor\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [41]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, ReduceLROnPlateau
from tensorflow.keras.callbacks import Callback

class CosineAnnealingScheduler(Callback):
    """Cosine annealing scheduler.
    """

    def __init__(self, T_max, eta_max, eta_min=0, verbose=0):
        super(CosineAnnealingScheduler, self).__init__()
        self.T_max = T_max
        self.eta_max = eta_max
        self.eta_min = eta_min
        self.verbose = verbose

    def on_epoch_begin(self, epoch, logs=None):
        if not hasattr(self.model.optimizer, 'lr'):
            raise ValueError('Optimizer must have a "lr" attribute.')
        lr = self.eta_min + (self.eta_max - self.eta_min) * (1 + math.cos(math.pi * epoch / self.T_max)) / 2
        K.set_value(self.model.optimizer.lr, lr)
        #if self.verbose &gt; 0:
        #    print('\nEpoch %05d: CosineAnnealingScheduler setting learning '
        #          'rate to %s.' % (epoch + 1, lr))

    def on_epoch_end(self, epoch, logs=None):
        logs = logs or {}
        logs['lr'] = K.get_value(self.model.optimizer.lr)
        
def Callbacks(patience):
    checkpoint_filepath = '/tmp/model.h5'
    callbacks = [
        CosineAnnealingScheduler(T_max=100, eta_max=6e-4, eta_min=3e-5),
        ModelCheckpoint(filepath=checkpoint_filepath, monitor='mean_absolute_percentage_error', verbose=1,
                        save_best_only=True, mode='min'),
        EarlyStopping(patience=patience)
    ]
    return callbacks

In [ ]:
import math
from tensorflow.keras import backend as K

model.compile(loss=tensorflow.keras.losses.MeanAbsolutePercentageError(), 
              optimizer=Adam(lr=0.001),
              metrics=['acc'])
model.fit(X_train_input, y_train, epochs=1000, batch_size=30, callbacks=Callbacks(patience=10))