In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.listdir("data")

['meta',
 '2019_2020년도_지속_휴일_수.csv',
 '02_평가데이터',
 'final_performance.csv',
 '01_제공데이터',
 'final_performance_1.csv',
 '2020빅콘테스트 문제데이터(데이터분석분야-챔피언리그)_update_200818.zip']

In [3]:
test = pd.read_csv("data/final_performance_1.csv")
test.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,real_date,week,...,avgp,maxp,minp,profit/140,profit-group,avgp_mul,minp_mul,maxp_mul,140_mul,group_mul
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019-01-01,1,...,298430.0,524050.0,104950.0,646569.491525,1.086525e+06,5968600.0,5968600.0,5968600.0,1.293139e+07,2.173049e+07
1,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019-01-01,1,...,298430.0,524050.0,104950.0,646569.491525,1.086525e+06,5968600.0,5968600.0,5968600.0,1.293139e+07,2.173049e+07
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019-01-01,1,...,298430.0,524050.0,104950.0,646569.491525,1.086525e+06,5968600.0,5968600.0,5968600.0,1.293139e+07,2.173049e+07
3,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019-01-01,1,...,298430.0,524050.0,104950.0,646569.491525,1.086525e+06,5968600.0,5968600.0,5968600.0,1.293139e+07,2.173049e+07
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,2019-01-01,1,...,298430.0,524050.0,104950.0,646569.491525,1.086525e+06,5968600.0,5968600.0,5968600.0,1.293139e+07,2.173049e+07

In [4]:
from sklearn.model_selection import train_test_split

In [13]:
def goods_code_encoding(x_train, row, code_set):
#     print(row)
    if row['상품코드'] in code_set:
        return row
    else:
        if row['마더코드'] in x_train['마더코드']:
            frame = x_train[x_train['마더코드']==row['마더코드']]
            print(frame.head())
            print(frame.info())
            frame['diff'] =  abs(frame['판매단가'] - row['판매단가'])
            fitrow = frame[frame['diff']==min(frame['diff'])].iloc[0, :-1]

        else:
            frame = x_train[x_train['상품군']==row['상품군']]
            print(frame.head())
            print(frame.info())
            frame['diff'] =  abs(frame['판매단가'] - row['판매단가'])
            fitrow = frame[frame['diff']==min(frame['diff'])].iloc[0, :-1]
        row['avgp'] = fitrow['avgp']
        row['minp'] = fitrow['minp']
        row['maxp'] = fitrow['maxp']

        return row

In [14]:
_X = test.drop(['방송일시', '상품명', '취급액', 'date',
                'time', 'real_date', 'profit/m'], axis = 1)
print(_X.columns)
_Y = test['취급액']
x_train, x_valid, y_train, y_valid = train_test_split(_X, _Y,
                                                      test_size=0.1,
                                                      random_state=123457)
# # filtering logic
# x_valid = filtering(x_train, x_valid)
train_goods_set = set(x_train['상품코드'])
for i in range(len(x_valid)):
    row = x_valid.iloc[i]
    x_valid.iloc[i] = goods_code_encoding(x_train, row, train_goods_set)

Index(['노출(분)', '마더코드', '상품코드', '상품군', '판매단가', 'week', 'weekofyear', 'year',
       'month', 'hour', 'stage', 'prime', 'IsHoliday', '지속휴일수', 'cpi', 'TEMP',
       'HUM', 'avgp', 'maxp', 'minp', 'profit/140', 'profit-group', 'avgp_mul',
       'minp_mul', 'maxp_mul', '140_mul', 'group_mul'],
      dtype='object')

/home/yeeunlee/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1760: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [15]:
row = x_valid.iloc[1]
x_train[x_train['마더코드']==row['마더코드']]

,노출(분),마더코드,상품코드,상품군,판매단가,week,weekofyear,year,month,hour,...,avgp,maxp,minp,profit/140,profit-group,avgp_mul,minp_mul,maxp_mul,140_mul,group_mul
90070,20.0,100148,200503,가전,1200000,6,31,2019,8,22,...,4.169181e+05,1258900.0,137150.0,740710.989916,770890.061093,8.338361e+06,8.338361e+06,8.338361e+06,1.481422e+07,1.541780e+07
73893,20.0,100148,200411,가전,1200000,3,49,2019,12,21,...,9.701467e+05,4583650.0,149000.0,761557.354242,770890.061093,1.940293e+07,1.940293e+07,1.940293e+07,1.523115e+07,1.541780e+07
72812,20.0,100148,200442,가전,2130000,3,9,2019,2,21,...,1.070804e+06,3004750.0,274350.0,761557.354242,770890.061093,2.141607e+07,2.141607e+07,2.141607e+07,1.523115e+07,1.541780e+07
78902,20.0,100148,200504,가전,1200000,5,37,2019,9,21,...,3.075767e+05,556350.0,140950.0,761037.860963,770890.061093,6.151533e+06,6.151533e+06,6.151533e+06,1.522076e+07,1.541780e+07
63366,20.0,100148,200443,가전,1930000,4,13,2019,3,21,...,8.505346e+05,3101600.0,224850.0,808921.968066,770890.061093,1.701069e+07,1.701069e+07,1.701069e+07,1.617844e+07,1.541780e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84862,20.0,100148,200505,가전,1200000,5,46,2019,11,22,...,3.113988e+05,900850.0,140950.0,722283.470597,770890.061093,6.227977e+06,6.227977e+06,6.227977e+06,1.444567e+07,1.541780e+07
82163,20.0,100148,200525,가전,2700000,2,29,2019,7,22,...,5.576310e+05,1221350.0,304550.0,735222.563054,770890.061093,1.115262e+07,1.115262e+07,1.115262e+07,1.470445e+07,1.541780e+07
75121,20.0,100148,200503,가전,1200000,0,34,2019,8,21,...,4.169181e+05,1258900.0,137150.0,846809.264025,770890.061093,8.338361e+06,8.338361e+06,8.338361e+06,1.693619e+07,1.541780e+07
75117,20.0,100148,200503,가전,1200000,0,34,2019,8,21,...,4.169181e+05,1258900.0,137150.0,846809.264025,770890.061093,8.338361e+06,8.338361e+06,8.338361e+06,1.693619e+07,1.541780e+07
74613,20.0,100148,200452,가전,2790000,0,15,2019,4,21,...,4.348986e+05,1291550.0,314650.0,846809.264025,770890.061093,8.697973e+06,8.697973e+06,8.697973e+06,1.693619e+07,1.541780e+07

In [12]:
x_valid

,노출(분),마더코드,상품코드,상품군,판매단가,week,weekofyear,year,month,hour,...,avgp,maxp,minp,profit/140,profit-group,avgp_mul,minp_mul,maxp_mul,140_mul,group_mul
42661,20.0,100372,201182,생활용품,248000,5,52,2019,12,21,...,9.870608e+05,4669750.0,136400.0,761037.860963,700542.898234,1.974122e+07,1.974122e+07,1.974122e+07,1.522076e+07,1.401086e+07
75439,20.0,100148,200413,가전,2840000,0,50,2019,12,21,...,1.378196e+06,7889000.0,334650.0,846809.264025,770890.061093,2.756393e+07,2.756393e+07,2.756393e+07,1.693619e+07,1.541780e+07
58967,20.0,100293,200952,잡화,129000,4,5,2019,2,1,...,9.324945e+05,3089000.0,221700.0,537440.519393,567569.666075,1.864989e+07,1.864989e+07,1.864989e+07,1.074881e+07,1.135139e+07
32070,20.0,100448,202100,주방,148000,3,7,2019,2,15,...,4.159484e+05,940400.0,55450.0,904210.567558,734497.169371,8.318968e+06,8.318968e+06,8.318968e+06,1.808421e+07,1.468994e+07
77622,20.0,100577,201706,가전,1089000,5,6,2019,2,21,...,2.854838e+05,893100.0,141400.0,761037.860963,770890.061093,5.709676e+06,5.709676e+06,5.709676e+06,1.522076e+07,1.541780e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68940,20.0,100148,200506,가전,1900000,2,7,2019,2,19,...,1.036702e+06,2678300.0,231600.0,856063.919164,770890.061093,2.073403e+07,2.073403e+07,2.073403e+07,1.712128e+07,1.541780e+07
88541,20.0,100577,201704,가전,1349000,6,5,2019,2,22,...,1.371598e+06,4522000.0,173550.0,740710.989916,770890.061093,2.743196e+07,2.743196e+07,2.743196e+07,1.481422e+07,1.541780e+07
37739,20.0,100838,202462,주방,248000,2,26,2019,6,12,...,3.588500e+05,691900.0,53150.0,792272.818312,734497.169371,7.177000e+06,7.177000e+06,7.177000e+06,1.584546e+07,1.468994e+07
42508,20.0,100372,201187,생활용품,168000,5,48,2019,11,18,...,2.650417e+05,1169350.0,29750.0,910653.181818,700542.898234,5.300833e+06,5.300833e+06,5.300833e+06,1.821306e+07,1.401086e+07
30835,20.0,100448,201383,주방,178000,1,51,2019,12,20,...,8.345176e+05,2546450.0,228650.0,836599.521941,734497.169371,1.669035e+07,1.669035e+07,1.669035e+07,1.673199e+07,1.468994e+07

In [31]:
pf = pd.read_excel("data/02_평가데이터/2020 빅콘테스트 데이터분석분야-챔피언리그_2020년 6월 판매실적예측데이터(평가데이터).xlsx",
                           sheet_name='6월편성', skiprows=1)
pf

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2020-06-01 06:20:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
1,2020-06-01 06:40:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
2,2020-06-01 07:00:00,20.000000,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
3,2020-06-01 07:20:00,20.000000,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN
4,2020-06-01 07:40:00,20.000000,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN
...,...,...,...,...,...,...,...,...
2886,2020-07-01 00:20:00,20.000000,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,0,NaN
2887,2020-07-01 00:40:00,20.000000,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,0,NaN
2888,2020-07-01 01:00:00,20.000000,100660,201989,쉴렉스 안마의자 렌탈서비스,무형,0,NaN
2889,2020-07-01 01:20:00,20.000000,100261,200875,아놀드파마 티셔츠레깅스세트,의류,69900,NaN
2890,2020-07-01 01:40:00,15.933333,100261,200875,아놀드파마 티셔츠레깅스세트,의류,69900,NaN

In [32]:
def caldate(date, time):
    """
    week : 0 - 월, 1 - 화, 2 - 수 ...
    """
    start = pd.Timestamp('00:00:00').time()
    end = pd.Timestamp('02:00:00').time()
    if time >= start and time <= end:
        date = date - pd.DateOffset(days = 1)
    return date
def stage(x):
    if x < 0.34:
        return 'early'
    elif 0.34 <= x < 0.67:
        return 'mid'
    return 'late'

def stage_advanced(x):
    if x['count'] == 1:
        return 'short'
    if x['count'] == 2:
        if x['p'] <= 0.5:
            return 'early'
        else:
            return 'late'
    else:
        return stage(x['p'])

In [33]:
# 방송일시 처리
print("----방송일시 처리----")
pf['real_date'] = pd.to_datetime(pf['방송일시'].dt.date)
pf['week'] = pf['방송일시'].dt.dayofweek
pf['weekofyear'] = pf['방송일시'].dt.week
pf['year'] = pf['방송일시'].dt.year
pf['month'] = pf['방송일시'].dt.month
pf['time'] = pf['방송일시'].dt.time
pf['hour'] = pf['방송일시'].dt.hour.astype('U')

pf['date'] = pf.apply(lambda x: caldate(x['real_date'], x['time']), axis=1)
pf['week'] = pf['date'].dt.dayofweek

----방송일시 처리----

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """

In [34]:
# add Stage column
print("----방송 초/중/후반 정보 삽입----")
sample = pf[['방송일시', 'date', '상품코드', '노출(분)']]
sample['cumcount'] = sample.groupby(['date', '상품코드'])['노출(분)'].cumcount() + 1
sample2 = sample.groupby(['date', '상품코드'])['노출(분)'].count().reset_index()
sample2.rename({'노출(분)': 'count'}, axis=1, inplace=True)
sample = sample.merge(sample2, on=['date', '상품코드'])
sample['p'] = sample['cumcount'] / sample['count']

sample['stage'] = sample.apply(stage_advanced, axis=1)
pf = pf.merge(sample[['방송일시','상품코드', 'stage']], on = ['방송일시', '상품코드'])

----방송 초/중/후반 정보 삽입----

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [35]:
print(len(sample))

2891

In [36]:
sample

,방송일시,date,상품코드,노출(분),cumcount,count,p,stage
0,2020-06-01 06:20:00,2020-06-01,201971,20.000000,1,3,0.333333,early
1,2020-06-01 06:40:00,2020-06-01,201971,20.000000,2,3,0.666667,mid
2,2020-06-01 07:00:00,2020-06-01,201971,20.000000,3,3,1.000000,late
3,2020-06-01 07:20:00,2020-06-01,202278,20.000000,1,3,0.333333,early
4,2020-06-01 07:40:00,2020-06-01,202278,20.000000,2,3,0.666667,mid
...,...,...,...,...,...,...,...,...
2886,2020-07-01 00:20:00,2020-06-30,201989,20.000000,1,3,0.333333,early
2887,2020-07-01 00:40:00,2020-06-30,201989,20.000000,2,3,0.666667,mid
2888,2020-07-01 01:00:00,2020-06-30,201989,20.000000,3,3,1.000000,late
2889,2020-07-01 01:20:00,2020-06-30,200875,20.000000,1,2,0.500000,early
2890,2020-07-01 01:40:00,2020-06-30,200875,15.933333,2,2,1.000000,late

In [37]:
print(len(pf))

2891

In [40]:
os.listdir('data/meta/weathers')

['weather1.csv', 'weather.csv', 'weather3.csv', 'weather2.csv']

In [41]:
import numpy as np

In [42]:
x_train.head(1)

,노출(분),마더코드,상품코드,상품군,판매단가,week,weekofyear,year,month,hour,...,avgp,maxp,minp,profit/140,profit-group,avgp_mul,minp_mul,maxp_mul,140_mul,group_mul
17403,20.0,100225,200784,속옷,89000,0,40,2019,9,19,...,202106.521739,464200.0,55600.0,858073.03996,1.070133e+06,4.042130e+06,4.042130e+06,4.042130e+06,1.716146e+07,2.140267e+07

In [43]:
x_train['판매단가', '취급액'].iloc[]

ValueError: Can only tuple-index with a MultiIndex