In [1]:
import pandas as pd
import numpy as np

In [55]:
performance = pd.read_excel('performance.xlsx', header=1 )
performance

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01 06:00:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01 06:20:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01 06:40:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0
...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN

In [56]:
performance['year'] = performance['방송일시'].map(lambda x: x.year)
performance['month'] = performance['방송일시'].map(lambda x: x.month)
performance['day'] = performance['방송일시'].map(lambda x: x.day)
performance['time'] = performance['방송일시'].map(lambda x: x.time())

performance

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,year,month,day,time
0,2019-01-01 06:00:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019,1,1,06:00:00
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,2019,1,1,06:00:00
2,2019-01-01 06:20:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019,1,1,06:20:00
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,2019,1,1,06:20:00
4,2019-01-01 06:40:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,2019,1,1,06:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,2020,1,1,00:20:00
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,2020,1,1,00:40:00
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,2020,1,1,01:00:00
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,2020,1,1,01:20:00
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,2020,1,1,01:40:00

## 1. 상품군 분석

In [8]:
category = performance['상품군'].unique()
len(category)

12

In [10]:
performance[performance['상품군'] == '무형']['판매단가'].unique()

array([0], dtype=int64)

### conclusion 
- 무형의 상품군은 모두 판매단가가 0

## 2. 마더코드 분석

In [11]:
mother_code = performance['마더코드'].unique()
len(mother_code)

716

In [31]:
sorted_mothercode = sorted(mother_code)

In [42]:
performance[performance['마더코드'] == sorted_mothercode[300]]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
476,2019-01-06 13:00:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,23015000.0
477,2019-01-06 13:20:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,41880000.0
478,2019-01-06 13:40:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,62565000.0
713,2019-01-09 00:00:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,15259000.0
714,2019-01-09 00:20:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,30991000.0
715,2019-01-09 00:40:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,31787000.0
810,2019-01-10 08:00:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,12106000.0
811,2019-01-10 08:20:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,22720000.0
812,2019-01-10 08:40:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,35189000.0
1275,2019-01-15 01:00:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,10713000.0
1276,2019-01-15 01:20:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,13588000.0
1277,2019-01-15 01:40:00,17.100000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,14559000.0
1567,2019-01-18 00:00:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,14543000.0
1568,2019-01-18 00:20:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,18292000.0
1569,2019-01-18 00:40:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,28757000.0
2085,2019-01-23 01:00:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,13072000.0
2086,2019-01-23 01:20:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,17505000.0
2087,2019-01-23 01:40:00,16.083333,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,12847000.0
2682,2019-01-30 01:00:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,7711000.0
2683,2019-01-30 01:20:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,12451000.0
2684,2019-01-30 01:40:00,16.083333,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,12317000.0
3270,2019-02-05 01:00:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,8912000.0
3271,2019-02-05 01:20:00,20.000000,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,14102000.0
3272,2019-02-05 01:40:00,16.083333,100342,201059,아리스토우 남성기모티셔츠5종,의류,39900,7748000.0
8982,2019-03-31 23:20:00,20.000000,100342,201060,아리스토우 남성오가닉티셔츠,의류,69900,12430000.0
8983,2019-03-31 23:20:00,NaN,100342,201062,아리스토우 여성오가닉티셔츠,의류,69900,17337000.0
8984,2019-03-31 23:40:00,20.000000,100342,201060,아리스토우 남성오가닉티셔츠,의류,69900,24916000.0
8985,2019-03-31 23:40:00,NaN,100342,201062,아리스토우 여성오가닉티셔츠,의류,69900,32272000.0
8986,2019-04-01 00:00:00,20.000000,100342,201060,아리스토우 남성오가닉티셔츠,의류,69900,8219000.0
8987,2019-04-01 00:00:00,NaN,100342,201062,아리스토우 여성오가닉티셔츠,의류,69900,35947000.0
9359,2019-04-04 00:00:00,20.000000,100342,201060,아리스토우 남성오가닉티셔츠,의류,69900,7259000.0
9360,2019-04-04 00:00:00,NaN,100342,201062,아리스토우 여성오가닉티셔츠,의류,69900,15241000.0
9361,2019-04-04 00:20:00,20.000000,100342,201060,아리스토우 남성오가닉티셔츠,의류,69900,17720000.0
9362,2019-04-04 00:20:00,NaN,100342,201062,아리스토우 여성오가닉티셔츠,의류,69900,21424000.0
9363,2019-04-04 00:40:00,20.000000,100342,201060,아리스토우 남성오가닉티셔츠,의류,69900,14342000.0
9364,2019-04-04 00:40:00,NaN,100342,201062,아리스토우 여성오가닉티셔츠,의류,69900,34965000.0

In [38]:
performance[performance['상품군']=='이미용']['마더코드'].unique()

array([100074, 100774, 100212, 100267, 100266, 100446, 100529, 100211,
       100265, 100362, 100213, 100680, 100775, 100681, 100399, 100628,
       100773, 100319, 100766, 100244, 100000, 100332, 100327, 100045,
       100711, 100258, 100260, 100672, 100245, 100314, 100247, 100685,
       100178, 100723, 100710, 100118, 100824, 100262, 100438, 100451,
       100697, 100541], dtype=int64)

### conclusion
- 마더코드는 대체로 브랜드 기준으로 나뉨. 하지만 같은 브랜드가 다른 마더코드를 가지기도 함.

In [12]:
goods_code = performance['상품코드'].unique()
len(goods_code)

2124

In [19]:
code_price = performance[['상품명', '판매단가']].drop_duplicates()
len(code_price)

1959